@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');

html, body{
   font-family: 'Poppins', sans-serif;
}


.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
}


body{
    background-color: beige;
    margin:0;
}

ul, li{
    list-style-type: none;
    display: flex;
     gap: 25px;
    flex-direction: row;
    align-items: center;
}
.nav-menu li:hover {
    color: rgb(240, 74, 2);
   text-decoration: none;
   font-weight: 500;  
}
#portfolio {
    background-color: beige;
    width: 100%;
    height: 100%;
    padding-bottom: 5%;
    -webkit-box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24); 
   box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24);
}

#parcours{
   display: flex;
      flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
     margin-top: 5%;
   height: 573px;
   width: 100%;
   
   }

#compétences{
   -webkit-box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24); 
   box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24);
   margin-bottom: 5%;
}

body{
   margin: 0;
   background-color: beige;
}

nav{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 16px 32px;
   background-color: beige;
   -webkit-box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24); 
   box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24);
}

nav ul{
   display: flex;
   gap: 16px;
   list-style: none;
   padding: 0;
   margin: 0;
}

#logo{
   display: flex;
   gap: 16px;
   align-items: center;
}

.boutons-container{
   display: flex;
   align-items: center;
   gap: 16px;
}


main{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 
} 

.bouton{
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 8px;
   text-decoration: none;
   padding: 8px 16px;
    width: fit-content; 
   height: fit-content;
   font-weight: 500;
   transition: all .3s ease-in-out;
}

.bouton.primaire{
   background: black;
   color: white;
}

.bouton.primaire:hover{
   background: #c38ff5;
}

.bouton.secondaire{
   background: transparent;
   color: orangered;
   border: 2px solid #8005F2;
}

.bouton.secondaire:hover{
   border: 2px solid #c38ff5;
   color: #c38ff5;;
}

 /* Avatar  */

.avatar{
   width: 80px;
   height: 80px;
   border-radius: 100%;
   border: 2px solid black;
   object-fit: cover;
}

 /* Lien  */

.lien{
   color: black;
   text-decoration: none;
   font-weight: 500;
   transition: all .3s ease-in-out;
}


.carte {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  background: white;
  color: black;
  font-family: sans-serif;
  text-transform: uppercase;

  border-radius: 16px;
  overflow: hidden;
  padding: 16px;
  width: 70%;

  -webkit-box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.24);

  transition: all 1s ease-in-out;
  box-sizing: border-box;
}



.carte img{
   width: 18%;
   height: 60px;
   width: 100%;
   height: 277px;
   margin-bottom: 100px;
   object-fit: cover;
}

.carte:hover{
   transform: scale(1.1);
}

.carte-info{
   padding: 16px;
}

.prix{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.prix h3, .prix h2 {
   margin: 0;
}

.prix h3{
   color: #8005F2;
}

.cartes-container{
   display: flex;
   gap: 16px;
   padding: 0px 34px;

}

main h1{
   display: flex;
   text-transform: uppercase;
   font-weight: 800;
   color: orangered;
   justify-content: center;
    align-items: center;
}

footer{
   display: flex;
   align-items: center;
   justify-content: center;
} 

#logo img{
width: 80px;
height: 80px;
border-radius: 100%;
border: 2px solid orangered;
}

img#profil{
   width: 30%;
   height: 380px;
   -webkit-box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24); 
   box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24);

}

header{
    display: flex;
    -webkit-box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24); 
   box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24);
   margin-bottom: 5%;
}}

#div-header {
    height: 100%;
    width: 800px;
}

footer{
   -webkit-box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24); 
   box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24);
 background-color: black;  
}
h4{ color: white;}